<div class="container mt-2 text-center">
  <h1>Git commit tracker</h1>
  <div *ngFor="let item of counter(48) let i = index" [attr.data-index]="i" class="d-inline-block m-0">
    <small>
      <i *ngIf="getMonth(i)">{{getMonth(i)}}</i>
      <i *ngIf="!getMonth(i)">&nbsp;</i>
    </small>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
    <div [style.background]="getRandomColor()" class="square"></div>
  </div>
  <div class="row mt-2">
    <div class="col-6 d-inline">
      <p class="text-start m-0">Learn how we count contributions</p>
    </div>
    <div class="col-6">
      <div class="info-legend-contributions">
        <small>Less</small>
        <div *ngFor="let legendColor of legendColorsGitCommit" [style.background]="legendColor"
          class="square d-inline-block"></div>
        <small>More</small>
      </div>
    </div>
  </div>
</div>
